body {
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    cursor: url('pata.png'), auto;
    
}
.menu {
    list-style: none;
    padding: 20px 0px;
    margin: 0;
    position: relative; 
    text-align: center;   
}

.menu li {
    display: inline-block; 
    margin-right: 40px; 
}

.menu li a {
    text-decoration: none; 
    color: #F29191;
}

.menu li a:not(.logo) {
    padding: 5px 10px; 
    border: 1px solid #ffffff; 
    border-radius: 5px; 
    background-color: white;
}

.menu li a:not(.logo):hover {
    background-color: #F29191;
    color: white;
    border-color: #F29191;
} /*estilos a los elementos <a> dentro de <li> en un menú que NO tengan la clase .logo cuando se realiza un hover sobre ellos.*/

.logo img {
    border: none; 
    vertical-align: middle; 
    position: absolute; 
    left: 0; 
    top: 0; 
}


section {
    margin: 0;
    text-align: center; 
    padding: 0;
}

.titulo {
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: #F29191;
    padding: 10px 0px;
}

.redes {
    background-color: #F29191;
    padding: 5px 5px;
}
.redes a {
    margin: 100px;
}
.bienvenida{
    
    background-image: url('pagina principal/fondo.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 20px; 
    opacity: 0.7;
}

.bien{
    margin: 50px 150px;
    background-color: #fffffff3;
}



/*CONJUNTO DE IMAGENES*/
.imagenes {
    
    display: flex;
    align-items: center;
    justify-content: center; 
}
.servicios{
    background-color: white;
    color: #F29191;
}

.imag {
    margin-right: 50px;
    text-align: center;
    text-decoration: none; 
}

.image {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    border: 2px solid #F29191;
    border-radius: 100px;
}

.imag p {
    margin-top: 10px;
    color: #F29191;
}

.imag:hover .image {
    transform: scale(1.1); /* Agrandar al 110% */
}

/*ZONA DE COMENTARIOS */
.comentarios {
    margin-top: 50px;
    display: flex;
    
}

.bloque-izq {
    flex: 1; 
    padding-right: 20px;
}

.bloque-izq img {
    width: 100%; 
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.bloque-derecha {
    flex: 1; 
    padding-left: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    
}

.user-info p {
    margin: 0;
}

.comment-content {
    flex: 1;
}

.comment-text {
    margin-bottom: 10px;
}

.valoracion {
    color: #FFD700; 
    font-size: 24px;
}

.star::before {
    content: "\2605"; /* Código unicode para la estrella */
}

/*LInea blanca*/
.lineab{
    background-color: white;
    color: white;
    font-size: xx-small;
}

 /*PIE DE PAGINA */
 footer {
    background-color: #F29191;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: #fff; 
}

.logof img {
    width: 280px;
    margin-right: 20px; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.603);
    margin-left: 30px;
}

.columna {
    flex: 1; 
    padding: 0 20px; 
    text-align: center;
   
}
.horario{
    border: 2px rgba(255, 255, 255, 0.425) solid;
}

.columna h3 {
    margin-bottom: 10px; 
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 10px;
}

.columna ul li a {
    color: #fff; 
    text-decoration: none;
}

.redes-sociales img {
    margin-top: 10px;
}











